/*AERTS ANAÃS*/
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: "Lato", sans-serif; */
/* font-family: "Anton", sans-serif; */

/* BODY */
* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

h1 {
    font-family: "Anton", sans-serif;
    text-align: center;
    font-weight: 500;
}

h3 {
    font-weight: 700;
}

/* GAME */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contain {
    width: 80%;
    display: flex;
    border: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.contain > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contain > div:last-child h3 {
    text-align: center;
}

input {
    width: 200px;
    height: 30px;
    border: 2px solid black;
}

button {
    width: 100px;
    height: 30px;
    padding: 0 2px 2px 0;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    font-family: "Anton", sans-serif;
}

button:hover {
    padding: 0;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px 0px;
}

th {
    background-color: black;
    color: white;
}

td {
    width: 50%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

td:last-child {
    font-size: 18px;
}